<%- include('layouts/header.ejs') %> <%- include('layouts/nav.ejs') %>

<div class="contenido">
  <% if(error) {%>
  <h1>No hay ningun partido registrado</h1>
  <% }else{ %> <%resultados.forEach(function(resultado,ind){%>
  <div class="accordion" id="accordeonCotejador">
    <div class="card">
      <div class="card-header" id="<%=resultado._id%>">
        <h2 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#<%=resultado.nombre%>"
            aria-expanded="true"
            aria-controls="<%=resultado.nombre%>"
          >
            <%= resultado.nombre%>
          </button>
        </h2>
      </div>

      <div
        id="<%=resultado.nombre%>"
        class="collapse show"
        aria-labelledby="<%=resultado._id%>"
        data-parent="#accordeonCotejador"
      >
        <div class="card-body">
          <% if(resultado.gallos.lenght <0) { %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">NUM</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% resultado.gallos.forEach(function(gallo,indx){%>
              <tr>
                <th scope="row"><%= ind%></th>
                <td><%= gallo.anillo%></td>
                <td><%= resultado.nombre%></td>
                <td class="edicion-btn">
                  <i
                    class="fas fa-pen-square"
                    id-gallo="<%= gallo._id%>"
                    nombre-gallo="<%= gallo.nombre%>"
                  ></i>
                </td>
                <td
                  data-toggle="modal"
                  data-target="#modalConfirmar"
                  class="eliminar-gallo edicion-btn"
                >
                  <i
                    class="fas fa-minus-circle"
                    id-gallo="<%= gallo._id%>"
                    nombre-gallo="<%= gallo.nombre%>"
                  ></i>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <%}else{%>
          <h1>Sin gallos registrados</h1>
          <%}%>
        </div>
      </div>
    </div>
  </div>

  <%})%> <% }%>
</div>

<div
  class="modal fade"
  id="modalConfirmar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalConfirmarLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmarLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estas seguro de eliminar el registro? Estos cambios no pueden deshacerse
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <form action="" method="GET" class="form-modal-confirmar">
          <button type="submit" class="btn btn-danger">ELIMINAR</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('layouts/fotter.ejs') %>
<script>
  $(".collapse").collapse();

  let botonesEliminar = document.querySelectorAll(".eliminar-gallo");
  let tituloModal = document.querySelector(".modal-title");
  let formConfirmar = document.querySelector(".form-modal-confirmar");
  const eliminarClick = e => {
    console.log("====================================");
    console.log(e.target);
    tituloModal.innerHTML = e.target.getAttribute("nombre-gallo");
    formConfirmar.setAttribute(
      "action",
      `http://localhost:3000/eliminar/gallo/${e.target.getAttribute(
        "id-gallo"
      )}`
    );
    console.log("====================================");
  };
  botonesEliminar.forEach(e => e.addEventListener("click", eliminarClick));
</script>
